%nav.navbar
  .container-fluid
    .navbar-header
      %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to "Home", root_path, class: 'navbar-brand'
    #myNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-left
        %li= link_to('Hàng ngày', daily_orders_path)
        %li= link_to('Balo', balo_products_path)
        %li= link_to('Túi xách', purge_products_path)
        %li= link_to('Hàng nhập', import_orders_path)
        %li= link_to('Hàng trả', repays_path)
        %li= link_to("Tháng #{Date.today.month} Balo", balo_orders_path)
        %li= link_to("Tháng #{Date.today.month} túi xách", purge_orders_path)
        %li= link_to("Quản lý tồn kho", products_path)
        %li= link_to("Download report", download_orders_path(report_date: Date.today, format: :xlsx))
